.pageImg{
    background-image: url('https://via.placeholder.com/1728x1728');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}